.text-center{
    text-align: center;
}

#modal{
    text-align: left;
    margin:10px;
    padding: 10px;
    background:#fff;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
}