.title{
    margin-left: 20px;
    font-weight: bold;
}

table {
    width: 75%;
    margin-left: 100px;
}

.my-card {
    max-width: 25%;
    margin-left: 100px;
}

.error{
    margin-left: 500px;
    margin-top: 250px;
    color: red;
}