<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                       
    <ng-container matColumnDef="demanda">               
        <th mat-header-cell *matHeaderCellDef>demanda</th>                
        <td mat-cell *matCellDef="let element"> {{ element.demanda }} </td>            
    </ng-container>
               
    <ng-container matColumnDef="iniciativa">               
        <th mat-header-cell *matHeaderCellDef>iniciativa</th>                
        <td mat-cell *matCellDef="let element">{{ element.iniciativa }}</td>            
    </ng-container>
               
    <ng-container matColumnDef="entrega">               
        <th mat-header-cell *matHeaderCellDef>entrega</th>                
        <td mat-cell *matCellDef="let element">{{ element.entrega }}</td>            
    </ng-container>
               
    <ng-container matColumnDef="feature">               
        <th mat-header-cell *matHeaderCellDef>feature</th>                
        <td mat-cell *matCellDef="let element">{{ element.feature }}</td>            
    </ng-container>
               
    <ng-container matColumnDef="racional">               
        <th mat-header-cell *matHeaderCellDef>racional</th>                
        <td mat-cell *matCellDef="let element">{{ element.racional }}</td>            
    </ng-container>

    <ng-container matColumnDef="descricao">               
        <th mat-header-cell *matHeaderCellDef>descricao</th>                
        <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>            
    </ng-container>

    <ng-container matColumnDef="tipo_envolvimento">               
        <th mat-header-cell *matHeaderCellDef>tipo_envolvimento</th>                
        <td mat-cell *matCellDef="let element">{{ element.tipo_envolvimento }}</td>            
    </ng-container>

    <ng-container matColumnDef="horas">               
        <th mat-header-cell *matHeaderCellDef>horas</th>                
        <td mat-cell *matCellDef="let element">{{ element.horas }}</td>            
    </ng-container>

    <ng-container matColumnDef="acumulado">               
        <th mat-header-cell *matHeaderCellDef>acumulado</th>                
        <td mat-cell *matCellDef="let element">{{ element.acumulado }}</td>            
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>            
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
           
</table>
